<button class="button try-to-reproduce-187-issue" (click)="tryToReproduce187Issue()">
  Lazy load the style that is extracted into a separate file (#187 issue)
</button>

<p class="subtitle is-5 lazy-styles-have-been-loaded">
  Lazy styles have been loaded
</p>

<div class="columns is-multiline users">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title username">
          inicio
        </p>
        <p class="subtitle">
          licencia
        </p>
      </div>
    </div>
  </div>
</div>